@{
    ViewData["Title"] = "Admin Home";
}

<div class="card p-3 bg-light w-50">
  <form asp-action="Home" method="post">

    <h1>Admin Dashboard</h1>
    <p>Welcome to the Admin section of CelebrateME. </p> 
    <p>Here you can manage the Birthday Market and other administrative tasks.</p>

    <br />
    
    <div class="mb-3">
      <label for="email" class="form-label">Email Address:</label>
      <input type="email" class="form-control" id="email" aria-describedby="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe">
      <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>







