@{
    ViewData["Title"] = "Volunteer";
}

<h2 class="text-center">Volunteer</h2>

<div class="row row-cols-1 row-cols-lg-2 g-0 overflow-hidden">
    <div class="col">
        <div class="lc-block">
            <img src="https://picsum.photos/id/237/400" class="img-fluid rounded mb-3 d-block mx-auto" alt="Volunteer Image" />

            <p>Thank you for your interest in volunteering with Birthday Connections! </p>

            <p>We are always looking for passionate individuals to help us make a difference in our community.</p>

            <p>
                Whether you have a few hours to spare or want to commit to a regular schedule, we have opportunities
                that can fit your availability and skills.
                Join our volunteer team and help us empower families with the resources to celebrate their children’s
                birthdays!
            </p>
        </div>
    </div>
    <div class="col">
        <div class="lc-block">
            <p>
                To get started, please fill out our volunteer application form <a href="/Volunteer/SignUp">here</a>.
                Once we receive your application, a member of our team will reach out to discuss available opportunities
                and how you can get involved.
                We look forward to working with you to create meaningful experiences for those we serve!
            </p>

            <a href="https://www.signupgenius.com/index.cfm?go=c.SignUpSearch&eid=08CAC8D7FBCFF76209&cs=09CBBAAE8FC58B627B7D64715BC19BCCFDCF&sortby=l.title"
                target="_blank">
                <img src="https://www.signupgenius.com/images/sign-up-now2.gif" width="250" height="45" border="0"
                    alt="Sign Up!">
            </a>
        </div>
    </div>
</div>